body {
    background-color: black;
}

h1 {
    color: orange;
    background-color: white;
}

h3 {
    color: white;
}

label {
    color: white;
}

p {
    color: white;
}

img {
    width: 20%;
}
